<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="StartWhenMAMPStart" value="True" />
    <add key="StopWhenMAMPStop" value="False" />
    <add key="CheckForMAMPPro" value="False" />
    <add key="OpenStartPageOnMAMPStart" value="False" />
    <add key="StartPageForMAMP" value="/MAMP/" />
    <add key="StopMysqlCommand" value="--user=root --password=root --port={0} shutdown" />
    <add key="CheckMysqlCommand" value="--user=root --password=root --all-databases --check --check-upgrade" />
    <add key="RepairMysqlCommand" value="--user=root --password=root --all-databases --repair" />
    <add key="UpgradeMysqlCommand" value="-uroot -proot --force" />
    <add key="WebServer" value="apache" />
    <add key="UpdateAccessRights" value="True" />
    <add key="IsCloudActive" value="False" />
    <add key="CloudDatabase" />
    <add key="IsCloudEncrypted" value="False" />
    <add key="CloudEncryptionKey" />
    <add key="IsCloudKeyOnDesktop" value="False" />
    <add key="MyWebLink" value="" />
    <add key="CloudFileRev" />
  </appSettings>
</configuration>